
.popup-btn {
	display: inline-block;
    width: 108px;
    height: 30px;
    text-align: center;
    line-height: 32px;
    border-radius: 2px;
}

.btn-delete {
	border: 2px solid #979797;
}
.btn-up {
	color: #fff;
	background-color: #d13e4e;
	border:2px solid #d13e4e;
}
#delete p,h5{
	line-height: 34px;
    font-weight: bold;
	text-align: center;
	font-size: 13px;
}
#delete p {
	width: 440px;
	margin-left: 30px;
	text-align: center;
}
.btn-delete,.btn-up {
     margin-top: 20px;
     margin-left: 81px;
}
.btn-delete:hover {
     background-color: #979797;
     color: #fff;
}
.btn-up:hover{
	background-color: #ba2833;
	border:2px solid #ba2833;
    color: #fff;
}
#winner {
	margin-left: 35px;
	overflow-y: auto;
	margin-top: 35px;
	width: 413px;
	height: 348px;
}
#winner li{
	list-style: none;
	height: 20px;
	margin-top: 17px;
	margin-left: -37px;
}
#winner ul {
	  width: 350px;
	  height: 148px;
}
#winner span {
	display: inline-block;
	vertical-align: top;
}
.spanFirst {
	margin-left: 10px;
}
.ulSpanFirst {
	width:72px;
	margin-left: 10px;
}
.ulSpanSecond {
	margin-left: 78px;
}
.ulSpanThrid {
	margin-left: 80px;
}
.spanSecond {
	margin-left: 130px;
}
.spanThrid {
	margin-left: 99px;
}
.first {
	color: #bababa;
	display: inline-block;
	width: 100px;
}
.second {
	color: #414141;
	margin-left: -4px;
}
.btn-winner {
	margin-left: 190px;
}
#up p,h5{
	line-height: 34px;
    font-weight: bold;
	text-align: center;
}
#up p {
	  width: 440px;
	  margin-left: 30px;
	  text-align: center;
	  font-size: 14px;
}
#Off p,h5{
	line-height: 34px;
    font-weight: bold;
	text-align: center;
}
#Off p {
	  width: 440px;
	  margin-left: 30px;
	  text-align: center;
	  font-size: 14px;
}
.btn-yulan {
	margin-top: 61px;
    margin-left: 269px;	
}
#yulan h3{
	text-align: center;
}
#copy {
	margin-top: 20px;
    font-size: 10px;
    margin-left: 32px;
    background: #f7f7f7;
    width: 379px;
}
#copy span {
	white-space: normal;
    line-height: 2;
}
.take-in img{
	width: 100px;
	height: 100px;
}
#copy h3{
	font-size: 15px;
}
.fangshi p{
	color: #8b8b8b;
	margin-top: 2px;
}
.benci{
	color: #8b8b8b;
}
.hui {
	  line-height: 2;
	  text-align: center;
}
.prize {
	width: 258px;
	margin-top: -15px;
}
.fangshi {
	width: 315px;
}
.p-text {
	margin-top: -18px;
}
.btn-copy {
	width: 145px;
	margin-left: 100px;
}

#setup span{
	position: relative;
	top: -5px;
	left: 7px;
	font-weight: bold;
}
#setup {
	font-size: 10px;
	  line-height: 2;
	  width: 534px;
	  margin-left: 33px;
}
#setup p {
    font-size: 7px;
    margin-top: 0;
}
.btn-link {
	margin-left: 203px;
}
#setup div {
	margin-top: 16px;
}
.text{
	width: 250px;
}
#save {
	width: 529px;
	text-align: left;
	margin-left: 32px;
}
.txt-warp {
	float: left;
}
.check-img {
	  width: 208px;
	  height: 172px;
	  background-color: red;
	  position: relative;
	  top: 59px;
}
.check-copy {
	margin-top: 14px;
	text-align: center;
	width: 86px;
	height: 25px;
	border-radius: 7%;
	border: 1px solid #d13f4c;
	color: #d13f4c;
	float: right;
}
.check-copy:hover {
	color: #d13f4c;
}
.check-txt {
	color: #989898;
}
.check-link {
	margin-left: 18px;
}
.btn-save{
	margin-top: 96px;
  	margin-left: 179px;
}
.changan {
	margin-top: 28px;
}



.flow-warp {
	font-size: 12px;
	width: 650px;
	height: 600px;
}
.skip {
	position: relative;
    top: 188px;
    left: 26px;
	width: 600px;
	height: 55px;
}

.prev_page {
	float: left;
}
.next_page {
	float: right;

}
.buttom_yuan {
	list-style: none;
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #d0d0d0;
    margin-left: 14px;
}
.homepage_warp {
	overflow: hidden;
    width: 551px;
    margin-top: -52px;
    margin-left: 51px;
	
}
.homepage_warp ul {
	position: relative;
	width: 3400px;
}
.homepage_warp li {
	list-style: none;
	float: left;
}
.homepage_warp p {
	width: 392px;
	margin-left: 30px;
    margin-top: -10px;
    position: relative;
    top: -8px;
}
.homepage_warp div {
	width: 500px;
	margin-top: 10px;
	margin-left: -13px;
}
.page_yuan {
	width: 120px;
    margin: 0 auto;	
}
.datu {
	margin-left: 19px;
}
.btn-flow {
	margin-left: -120px;
    margin-top: 35px;
}
.other {
	margin-left: 60px;
}

.hong {
	background-color: #d03e4b;
}
.txt_concent {
	color: #acacac;
}

.success-warp {
	width: 400px;
	padding-bottom: 50px;
}
.link-btn {
	display: inline-block;
    width: 64px;
    height: 21px;
    text-align: center;
    line-height: 20px;
    border-radius: 2px;
    background-color: #d13e4e;
    color: #fff;
    margin-bottom: 10px;
    margin-top: 10px;
}
.link-btn:hover {
    background-color: #ba2833;
    color: #fff;
}
.list-link {
    word-wrap:break-word;
    width: 338px;
}
.copy-link {
	width: 338px;
	margin: 0 auto;
}
.copy-link h5 {
	text-align: left;
    margin-bottom: 0;
}
.link-txt {
	color: #716363;
}