body{background: #ebedf0;}
.mainContent{overflow-y: auto;position: relative;}
.contentBox{}
.innerBox{display: none;}
.subHeading{padding: 1.1rem 1rem 0.7rem 1rem;font-size: 0.8rem;line-height: 0.8rem;color: #000; }
.goReg{text-align: center;padding-top: 1rem;padding-bottom: 1.66rem;}
.goReg p{color: #4a4a4a;line-height: 1.1rem;text-align: left;}
.goReg button{background: #d13f4c;color: #fff;border: none;height: 2rem;width: 13.33rem;text-align: center;border-radius: 2rem;margin-top: 1.3rem;font-size: 0.8rem;}
.regCrude{font-size: 0.9rem;color: #000;margin-bottom: 0.8rem;font-weight: bold;}
.whiteBack{background: #fff;font-size: 0.9rem;padding: 0 1rem;}
.smaller{font-size: 0.8rem;color: #4a4a4a;}
.black{color: #000;}
.gray{color: #808080;}
.paleRed{color: #d13f4c;}
.quota{position: relative;}
.noLine{line-height: 3rem;}
.oneLine{border-bottom: 1px solid #e4e5e6;line-height: 3rem;height: 3rem;overflow: hidden;}
.oneLine:last-child{border-bottom: none;}

.singleAsset{border-bottom: 1px solid #e4e5e6;}
.singleAsset:last-child{border-bottom: none;}
.singleAsset .oneLine{border-bottom: none;}

.multiLineBox{padding: 0.45rem 1rem;}
.multiLine{line-height: 2rem;}
.reseBox{padding: 1rem;}
.bookingName{font-size: 1rem;}
.bookingInfo{font-size: 0.8rem;padding-top: 0.5rem;}

.redBtn,.addBtn{width: 1.9rem;height: 1.8rem;display: inline-block;border: 1px solid #979797;position: relative;top: 0.6rem;}
.redBtn{background: url("../images/redBlack.jpg") no-repeat center/100% 100%;}
.addBtn{background: url("../images/addBlack.jpg") no-repeat center/100% 100%;}
.number{border: none;height: 1.8rem;width: 2.5rem;text-align: center;font-size: 0.9rem;user-select:none;margin-top: -0.15rem;}
.remarks{height: 2rem;border: none;width: 16rem;position: relative;top: -0.1rem;margin-left: 1rem;font-size: 0.9rem;}
.housing{width: 17.4rem;height: 2.5rem;border: none;position: relative;top: -0.1rem;background: #fff;}
.housingP{width: 17.4rem;}

.quarantine{margin-right: 0.5rem;}
.arrowImg{width: 0.8rem;height: 0.5rem;display: inline-block;background: url("../images/uArrow.jpg") no-repeat center/100% 100%;}
.turnLeft{transform:rotate(270deg);-moz-transform: rotate(270deg);-ms-transform: rotate(270deg);-o-transform: rotate(270deg);-webkit-transform: rotate(270deg);}
.turnUp{transform:rotate(180deg);-moz-transform: rotate(180deg);-ms-transform: rotate(180deg);-o-transform: rotate(180deg);-webkit-transform: rotate(180deg);}
.tuneLeft{position: relative;top: -0.1rem;}
.tuneDown{position: absolute;top: 50%;right: 0;transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);-webkit-transform: translateY(-50%);}

.choice{width: 1.2rem;height: 1.2rem;display: inline-block;background: url("../images/unchoosed.jpg") no-repeat center/100% 100%;position: relative;top: 0.2rem;margin-right: 0.86rem;}
.choice.choosed{background: url("../images/choosed.jpg") no-repeat center/100% 100%;}
.choice2{width: 1.5rem;height: 1.5rem;display: inline-block;background: url("../images/unchoosed.jpg") no-repeat center/100% 100%;position: absolute;top: 50%;right: 1.3rem;transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);-webkit-transform: translateY(-50%);}
.choice2.choosed{background: url("../images/choosedRed.jpg") no-repeat center/100% 100%;}
.discChoice{position: absolute;top: 50%;right: 0;transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);-webkit-transform: translateY(-50%);margin: 0;}
.headSwitchBox{padding-top: 0.6rem;padding-bottom: 0.6rem;line-height: 1.8rem;}
.switchBox{width: 3.2rem;height: 1.8rem;border-radius: 1rem;border: 1px solid #e5e5e5;position: relative;top: 0.5rem;}
.headSwitch{position: relative;background: #808080;top: -0.05rem;}
.switchBox.open{background: #d13f4c;border-color: #d13f4c;}
.headSwitch.open{background: #e2574c;border-color: #e2574c;}
.switchSpot{width: 1.8rem;height: 1.8rem;border-radius: 50%;position: absolute;background: white;top: 0;box-shadow: 0 1px 4px rgba(0,0,0,0.4);}
.open .switchSpot{right: 0;top: 0;}


.toOrderBtn{width: 25rem;height: 3rem;line-height:3rem;position: fixed;bottom: 0;left: 0;background: #d13f4c;color: #fff;text-align: center;font-size: 1rem;z-index: 0;}
.toOrderBtn.unSubmit{background: grey;pointer-events: none;}
.hide{margin-left: 1.2rem;display: none;}
.show{margin-left: 1.2rem;display: inline;}

.windowBox{position: fixed;width: 100%;top: 0;z-index: 10;display: none;}
.shadow{background: rgba(0,0,0,0.5);width: 100%;height: 100%;}
.underWindow{height: 22rem;width: 100%;background: #fff;position: absolute;bottom: 0;font-size: 0.9rem;color: #000;overflow: hidden;display: none;}
.windowHead{background: #ebedf0;line-height: 3.33rem;text-align: center;font-size: 1.1rem;color: #4a4a4a;}
.clearDisc{background: #828d9a;line-height: 3rem;text-align: center;font-size: 1rem;color: #fff;position: fixed;bottom: 0;width: 100%;}
.roomNumberUl{padding: 0 1rem;line-height: 3.47rem;text-align: center;height: 19rem;overflow-y: auto;}
.roomNumberUl li{border-bottom: 1px solid #e4e5e6;}
.discListUl{padding: 0 1rem;height: 15.7rem;overflow-y: auto;}
.discListUl li{border-bottom: 1px solid #e4e5e6;line-height: 3.47rem;position: relative;}
/*.discListUl li:last-child{border-bottom: none;}*/
.discListUl li h2{font-size: 1rem;}

.upWindow{background: #fff;position: absolute;top: 0;font-size: 0.8rem;color: #4a4a4a;padding: 1.2rem 1rem;line-height: 1.1rem;display: none;}
.registerBox{background: #f5f5f5;margin-top: 0.33rem;line-height: 3rem;font-size: 0.9rem;overflow: hidden;height: 3rem;}
.registerInput{background: #f5f5f5;font-size: 0.9rem;height: 2.5rem;border: none;position: relative;top: -0.1rem;width: 10rem;}
.registerBox span{margin-left: 1rem;color: #9b9b9b;display: inline-block;width: 5rem;}
.registerBox button{font-size: 0.9rem;line-height: 3rem;border: none;background: #f5f5f5;margin-right: 1rem;color: #e2574c;}
.registerBox button.unable{color: #9b9b9b;pointer-events: none;}
.registerBtn{background: #d13f4c;color: #fff;font-size: 1rem;text-align: center;border: none;width: 100%;height: 2.66rem;border-radius: 3px;}
.pad1{padding-bottom: 1.3rem;}
.pad2{padding-top: 0.6rem;padding-bottom: 1.3rem;}

.useCoupons{position: fixed;width: 100%;top: 0;z-index: 10;background: #ebedf0;display: none;}
.searchCoupon{background: #fff;height: 2rem;text-align: center;padding: 0.5rem 0;}
.searchInput{height: 1.9rem;width: 18.6rem;border: 1px solid #c8cacc;background: #fff;border-radius: 3px;color: #000;font-size: 0.9rem;padding: 0 0.5rem;}
.searchBtn{height: 2rem;width: 3.3rem;border: 1px solid #d13f4c;background: #d13f4c;border-radius: 3px;color: #fff;font-size: 0.9rem;margin-left: 0.66rem;}
.couponBox{background: #fff;margin-bottom: 0.33rem;}
.couponHead{border-bottom: 1px solid #e4e5e6;line-height: 3rem;padding: 0 1rem;}
.cashCouponUl li{padding: 1rem 3.5rem 1rem 2.5rem;position: relative;border-bottom: 1px solid #e4e5e6;}
.cashCouponUl li p{display: block;color: #4a4a4a;font-size: 0.9rem;margin-top: 0.5rem;}
.cashCouponUl li i{display: inline-block;width: 20%;font-style: normal;}
.cashCouponUl li span{color: #d71e16;}
.cashCouponUl li em {font-size: 1.2rem;font-style: normal;}
.couponName{font-weight: normal;font-size: 1.1rem!important;color: #000!important;margin-top: 0!important;}

.addressInfo{display: none;}

#buyPoints{position: relative;left: 2px;font-size: 0.8rem;}
#buyPoints .arrowImg{margin-left: 0.4rem;}

.thisInfo{display: none;}