body{
    font-size: 12px;
    margin: 0;
    padding: 0;
}
.content{
    box-sizing: border-box;
    padding: 0 25px;
}
.top{
    width: 100%;
    height: 41px;
    margin-top: 30px;
    background-color: #f8f8f8;

}
.downloadExcel{
    /*display:block;*/
    float: right;
    margin-top: 7px;
    border: solid #b92835 1px;
    padding: 5px 5px;
    font-size: 12px;
    color:#b92835;
    margin-right: 20px;
}
.downloadExcel:hover{
    background-color:#b92835;
    color: white;
}
.voucherName{
    /*display:block;*/
    float: left;
    margin-left: 20px;
    padding-top: 13px;
}
.mainTable{
    width: 100%;
    /*height: 300px;*/
    margin-top: 30px;
    /*background-color: #002a80;*/

}

table {
    border-right: 2px solid #d8d8d8;
    border-bottom: 2px solid #d8d8d8;
    width: 100%;
    text-align: center;
}

td{
    border-left: 2px solid #d8d8d8;
    border-top: 2px solid #d8d8d8;
    padding: 24px 0;
}
.th_td{
    background-color: #f2f2f2;
    padding-top: 10px;
    padding-bottom: 10px;
    /*font-weight:bold;*/
    font-size: 14px;
}
.selectInTd{
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    border: none;
    font-weight: bold;
    background-color: #f2f2f2;

}
.selectInTd:focus{
    border: none;
}

#selectMenu p:hover{
    background-color: #f2f2f2;
}
tr:hover{
    background-color: #f2f2f2;
}
