table {
	font-family: verdana,arial,sans-serif;
	font-size: 12px;
	border-width: 1px;
	border-color: #dcdcdc;
	border-collapse: collapse;
    font-family: block;
    text-align: center;
}
.left p {
	margin-bottom: 0;
	margin-top: 0;
}
.right p {
	margin-bottom: 0;
	margin-top: 0;
}

.left tr {
	width: 155px;
	height: 61px;
}
.right tr {
	width: 155px;
	height: 61px;
}
th{
	border: 1px solid #dbdbdb;
}
td {
	border: 1px solid #dbdbdb;
}
.left {
	width: 15%;
}
.left table {
	  width: 100%;
}
.left {
	float: left;
}
.left td {
	border-right: none;
}
.num {
	margin: 0 auto;
	width: 90px;
	word-wrap: break-word;
}
.left th {
	border-right: none;
}
.right table {
	width: 85%;
	table-layout:fixed
}
.right {
	overflow: auto;
	margin-left:15%;
}
.back {
	margin-top: 2px;
	float: left;
	height: 30px;
	width: 30px;
	background-image: url('../image/back.png');
	background-size: 30px 30px;
	display: inline-block;
}
.next {
	margin-top: 2px;
	height: 30px;
	width: 30px;
	background-image: url('../image/more.png');
	background-size: 30px 30px;
	float: right;
	display: inline-block;
}
.b-th{
	position: relative;
}
.range {
	width: 81px;
	display: block;
	float: left;
	position: absolute;
	top: -5%;
	left: 50%;
	transform: translate(-50%,50%);
}
.full {
	background-color: red;
	color: #fff;
}
.shut {
	background-color: #ccc;
	color: #fff;
}
.state {
	position:absolute;
    background-color: #fff;
    padding-left: 0;
    display: none;
    box-shadow: #908e8e 0px 0px 10px 3px;
}
.state li {
	background-color: #fff;
	list-style: none;
	text-align: center;
	float: left;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
}
.state li:hover{
	background-color: #F2F2F2;
	color: #000;
}
.canselected {
	height: 58px;
	position: relative;
}
.canselected p{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.xuan{
	background-color: #7feee6;
}
.xuan1{
	background-color: #7feee6;
}
.xuan2{
	background-color: #7feee6;
}
#start {
	margin-left: -35px;
}
.range p {
	overflow: hidden;
}
.laydate_body .laydate_box a {
    background-color: #D91600;
}
.bTou {
	background-color: #f8f8f8;
}
.b-shang {
	background-color: #f8f8f8;
}


