body{
	background-color: #ebedf0;
	font-size: 0.8rem;
}

.header{
	background-color: #343f4c;
	color: #fff;
	padding: 1rem 0;
	display: none;
}

.header h1{
	text-align: center;
	padding: 0.5rem;
	font-size: 1rem;
	font-weight: normal;
}
.header p{
	text-align: center;
	font-size: 0.8rem;
}
.memberinfo,.productinfo,.priceinfo{
	margin-top: 0.5rem;
	padding: 0 1rem;
	background-color: #fff;
}
.memberinfo li,.priceinfo li{
	padding: 1rem 0;
}
.memberinfo li:first-child{
	border-bottom: 1px solid #e4e5e6;
	position: relative;
}
.memberinfo li:first-child span:last-child{
	position: absolute;
	right: 0;
	top:50%;
	transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    color: rgb(200,166,112);

}
.memberinfo li:first-child span:first-child{
	margin-right: 1rem;
}
.memberinfo li:first-child span:nth-child(2){
	padding-left: 1rem;
}
.productinfo li{
	padding: 0 0 1rem;
}
.productinfo li:first-child{
	padding: 1rem 0;
	color: #4a4a4a;
	font-size: 1rem;
} 
.productinfo li span{
	display: inline-block;
	width: 30%;
}
.priceinfo li{
	position: relative;
}
.priceinfo {
	padding: 0.5rem 1rem;
}
.priceinfo li:first-child{
	border-bottom: 1px solid #e4e5e6;
	
}
.priceinfo li{
	padding: 0.5rem 0;
}
.priceinfo li strong{
	position: absolute;
	right: 0;
	top:50%;
	transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
}
.footer{
	position: fixed;
	bottom:0;
	left: 0;
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #fff;
	text-align: center;
	box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    display: none;
}
.footer span{
	display: inline-block;
	width:47%;
	padding: 0.5rem 0;
	text-align: center;
	color: #fff;
	border-radius: 0.2rem;
	-webkit-border-radius: 0.2rem;
	-moz-border-radius: 0.2rem;
	-ms-border-radius: 0.2rem;
	-o-border-radius: 0.2rem;
}
.footer span:first-child{
	background-color: rgb(130,140,155);
	margin-right: 1rem;
}
.footer span:last-child{
	background-color: rgb(208,54,76);
}