html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
input[type="submit"],input[type="reset"],input[type="button"],input{-webkit-appearance:none;resize:none;}
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{-webkit-tap-highlight-color:rgba(0,0,0,0);}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
img{max-width:100%;height:auto;width:auto\9;-ms-interpolation-mode:bicubic;}
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0;border:none;}
em,i{font-style:normal;}strong,b{font-weight:normal;}
.clearfix:after{content:"";display:block;visibility:hidden;height:0;clear:both;}
.clearfix{zoom:1;}a{text-decoration:none;color:#969696;font-family:Heiti SC, Heiti TC,Microsoft YaHei,Tahoma,Arial,sans-serif;}
a:hover{text-decoration:none;}
ul,ol{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-family:"ºÚÌå",Heiti TC;}
img{border:none;}
.scope{min-width:320px;max-width:540px;}
body{font-family: Heiti SC, Heiti TC,open sans,lantinghei SC,lantinghei TC, Microsoft YaHei,Tahoma,Arial,sans-serif,"黑体"; color: #fff;;background-color: #FFF ;}
body,p,div{
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
/*---------------登录------------*/
.wrap{
    padding: 33px 0 39px;
    position: absolute;
    width: 100%;
    left:0;
    top:50%;
    transform:translate(0,-50%);
    -webkit-transform:translate(0,-50%);
    -moz-transform:translate(0,-50%);
    -ms-transform:translate(0,-50%);
    -o-transform:translate(0,-50%);
    height: auto;
    background-color: rgba(255,255,255,.5);
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    text-align: center;
    font-size: 16px;
}
.too,.radio { 
        width: 302px; 
        display: block;
        margin: 0 auto;
        margin-bottom: 10px; 
        background:#FFF;
        border: none;
        outline: none;
        padding: 10px;
        font-size: 13px;
        color: #000;
        text-align: center;
        box-sizing:border-box;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        -ms-box-sizing:border-box;
        -o-box-sizing:border-box;
    }
.radio {
    /*height: 44px;
    line-height: 44px;*/
    text-align: left;
    background-color: rgba(0,0,0,0);
    color: #FFF;
    padding: 0;
    margin-bottom: 0;

}
.radio input{
    display: inline-block;
    vertical-align: top;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    background-color: #fff;
    background: url(../images/checkBg.png) 0 0 no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}
.radio .current{
    background: url(../images/checkBgCur.png) 0 0 no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}
.logo{
    width: 145px;
    display: block;
    margin: 0 auto;
}
.wrap p{
    color: #fff;
    text-align: center;
    font-size: 16px;
    padding: 15px 0 45px;
    letter-spacing: 2px;
}
.wrap .btn{
    width: 302px; 
    display: block;
    margin: 0 auto;
    margin-bottom: 10px; 
    background:#d13f4c;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 13px;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    margin-top: 10px;
}
.tip{
    width: 302px;
    margin: 0 auto;
    color: #d13f4c;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: left;
    display: none;

}
/*--------bms主页-------*/
.BMSWrap{
    display:-webkit-box;
    display:-moz-box;
    display:-ms-box;
    display:-o-box;  
    position: relative;
}
.BMSLeft{
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -ms-box-flex:1;
    -o-box-flex:1;
    width: 130px;
    height: 100%;
    background-color: #343f4c;
    position: fixed;
    top:0;
    left:0;
    z-index: 999;
}
.BMSLeft img{
    display: block;
    width: 58px;
    margin: 32px auto 64px;
}
.BMSLeft ul li{
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
}
.BMSLeft ul li span{ 
    display: block;
    height: 40px;
    width: 40px;
    margin: 0 auto 10px;
    background:  url(../images/sprit.png) 0 0 no-repeat;

}
.BMSLeft ul li.current{
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
    color: #fe4f40;
    border-right: 4px solid #fe4f40;
}
.BMSLeft ul li.current span{ 
    display: block;
    height: 40px;
    width: 40px;
    margin: 0 auto 10px;
    background:  url(../images/spritCur.png) 0 0 no-repeat;

}
.BMSLeft ul li:nth-child(2) span{
    background-position: 0 -50px;
}
.BMSLeft ul li:nth-child(3) span{
    background-position: 0 -100px;
}
.BMSLeft ul li:nth-child(4) span{
    background-position: 0 -150px;
}
.BMSLeft ul li:nth-child(5) span{
    background-position: 0 -200px;
}
.BMSLeft ul li:nth-child(6) span{
    background-position: 0 -250px;
}
.BMSRight{
    -webkit-box-flex:8;
    -moz-box-flex:8;
    -ms-box-flex:8;
    -o-box-flex:8;
    position: relative;
}
.BMSRightTop{
    position: fixed;
    left:130px;
    top:0;
    height: 90px;
    width: 100%;
    background-color: #f1f1f1;
    border-bottom: 1px solid #d5d6d8;
    display:-webkit-box;
    display:-moz-box;
    display:-ms-box;
    display:-o-box;
}
.BMSRightTopLeft{
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -ms-box-flex:1;
    -o-box-flex:1;
    font-size: 14px;
    color: #1a1a1a;
    padding: 20px 0 0 18px;
}
.BMSRightTopLeft h1{
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 10px;

}
.BMSRightTopLeft .BMSRightTopLeftZhanghao{
    letter-spacing: 2px;
    position: relative;
}
.BMSRightTopLeftZhanghao i{
    margin-right: 5px;
}
.BMSRightTopLeftZhanghaoName{
    padding-left: 15px;
}
.BMSRightTopLeftZhanghaoNameCurrent{
    width: 130px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #d8d8d9;
    border-bottom: 0;
    background-color: #fff;
    position: absolute;
    z-index: 999;
    border-radius: 2px;
}
.BMSRightTopLeftZhanghaoNameCurrent i{
    color: #d54f5b;
}
.BMSRightTopRight{
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -ms-box-flex:1;
    -o-box-flex:1;
    line-height: 45px;
    text-align: center;
}
.BMSRightTopLeftZhanghaoKan{
    
    width: 152px;
    padding-top: 10px;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    border: 1px solid #d8d8d9;
    background-color: #fff;
    position: absolute;
    top:30px;
    border-radius: 2px;
    box-shadow: -1px 1px 5px rgba(0,0,0,.1);
    display: none;

}
.BMSRightTopLeftZhanghaoKan li{
    padding: 16px 0 10px 40px;
    background:  url(../images/lock.png) 20px 16px no-repeat;
}
.BMSRightTopLeftZhanghaoKan li:first-child{
    background:  url(../images/logOut.png) 20px 16px no-repeat;
}
.BMSRightTopLeftZhanghaoKan li:hover{
    background-color: #f1f1f1;
}
.BMSRightTopRight input{
    width: 225px;
    border: 1px solid #bfbfbf;
    padding: 5px;
    height: 26px;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    
}
.BMSRightTopRight i{
    display: inline-block;
    padding:0 5px;
    vertical-align: bottom;
    background-color: #343f4c;
    font-size: 12px;
    height: 26px;
    line-height: 26px;
}
.BMSRightTopRight i:hover{
    background-color: #d13f4c;
}
/*--------------------弹层-------------------*/
.mask{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    background-color: rgba(0,0,0,.7);
    z-index: 9999;
    display: none;
}
.alert{
    width: 40%;
    margin: 15% auto;
    padding-bottom: 40px;
    background-color: #fff;
}
.maskTitle{
    text-align: center;
    font-size: 14px;
    height: 42px;
    line-height: 42px;
    background-color: #343f4c;
    position: relative;
}
.maskTitle span{
    width: 42px;
    height: 42px;
    position: absolute;
    right: 20px;
    background: url(../images/bmsCloseWhite.png) center right no-repeat;
}
.mask dl{
    padding: 10px 0 0;
    display:-webkit-box;
    display:-moz-box;
    display:-ms-box;
    display:-o-box;
    height: 44px;
    line-height: 44px;
}
.mask .dl1{
    padding: 35px 0 20px;
}
.mask .dl3{
    padding: 10px 0 40px;
}
.mask dl dt{
    color: #c6c6c6;
    font-size: 14px;
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -ms-box-flex:1;
    -o-box-flex:1;
    text-align: right;
    min-width: 150px;
    max-width: 150px;
}
.mask dl dd{
    -webkit-box-flex:3;
    -moz-box-flex:3;
    -ms-box-flex:3;
    -o-box-flex:3;
    font-size: 14px;
    padding-left: 20px;
}
.mask dl dd span{
    
    line-height: 30px;
    color: #fe4f40;
    display: none;
}
.mask dl dd input{
    display: block;
    width: 80%;
    padding: 10px;
    border: 1px solid #bfbfbf;
}
.xiugaimimaBtn{
    display: block;
    border-radius: 4px;
    padding: 10px 0;
    width:30%;
    background-color: #d13f4c;
    margin: 10px auto 0;  
    font-size: 16px;
    text-align: center;
}