body{background: #fff;}
.activityUl{}
.activityUl li{padding-top: 0.3rem;padding-left: 10rem;position: relative;height: 10rem;font-size: 0.7rem;color: #4a4a4a;border-bottom: 1px solid #D6D5D9;}
.activityUl li:first-child{padding-top: 0;}
.lia{color: #4a4a4a;}
.activityImg{position: absolute;width: 10rem;height: 10rem;left: 0;bottom: 0;}
.activitySig{height: 8.8rem;padding: 0.6rem 0.7rem;position: relative;overflow: hidden;}

.activityName{font-size: 0.9rem;color: #000;font-weight: bold;line-height: 1.3rem;max-height: 2.5rem;overflow: hidden;}
.statesBox{color: #999;margin-top: 0.6rem;}
.statesBox span{display: inline-block;margin-right: 0.6rem;}
.whiteArrow{width: 0.4rem;height: 0.3rem;position: relative;top: -0.1rem;left: 0.2rem;}
.goJoin{padding: 1px 0.6rem;color: #fff;border-radius: 2rem;-moz-border-radius: 2rem;-webkit-border-radius: 2rem;background-color: #000;}
.wined{padding: 1px 0.6rem;color: #fff;border-radius: 2rem;-moz-border-radius: 2rem;-webkit-border-radius: 2rem;background-color: #db5e5e;margin: 0;}
.timeVarious{position: absolute;left: 0.7rem;bottom: 0.6rem;line-height: 1.2rem;}

.whiteNon{background-color: #f5f7fa;}

.flipTips{text-align: center;height: 3rem;line-height: 3rem;font-size: 0.8rem;color: #B3B3B3;}

