*{
    margin: 0;
    padding: 0;
    font-weight: normal;
}
body{
    font-family: "黑体",Arial;
}
/*.navigation{
    box-shadow: 0 0 2px rgba(0,0,0,0.3);
}*/
a{
    text-decoration: none;
    -webkit-tap-highlight-color:transparent;
}
.ellips{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.item{
    padding: 1rem 0;
    margin: 0 0.8rem;
    height: 6.7rem;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    border-bottom: 1px solid #D6D5D9;
}
.item img{
    display: block;
    width: 10.4rem;
    /*height: 6.7rem;*/
    background: #ccc;
}
.item .itemInfo{
    padding-left: 0.8rem;
    width: 12.2rem;
    position: relative;
}
.itemInfo .bnbName{
    height: 2.5rem;
    /*font-size: 0.934rem;*/
    line-height: 1.3rem;
}
.itemInfo .bnbDesc{
    color: #808080;
    line-height: 1.2rem;
    /* height: 2.4rem; */
    position: absolute;
    bottom: 0.5rem;
    margin: 0.5rem 0;
}
.itemInfo .bnbPrice{
    color: #E2574C;
    position: absolute;
    bottom: -2px;
}
.bnbDesc,.bnbPrice{
    font-size: 0.834rem;
}
.scrollBot{
    text-align: center;
    height: 3rem;
    line-height: 3rem;
    font-size: 0.8rem;
    color: #B3B3B3;
}
.blankPage {
    font-size: 0.934rem;
    text-align: center;
}
.blankPage img{
    display: block;
    width: 50%;
    margin: 6.6rem auto 2.5rem;
}
.blankPage p{
    color: #4a4a4a;
    line-height: 1.7rem;
}
.blankPage a{
    margin: 5.6rem auto 0;
    line-height: 2.4rem;
    color: #fff;
    display: block;
    width: 13.2rem;
    height: 2.4rem;
    border-radius: 1.2rem;
    background: #e2574c;
}